<?xml version="1.0" encoding="utf-8"?>
<script>
  <include name="EntitiesConfig" />
  <include name="MapEntities" />
  <set var="Settings.NotUpdatedAttributes">{DataType.List("quotedetail.ownerid","salesorderdetail.ownerid")}</set>
  <!--<set var="Settings.ProjectName">Test</set>-->
  <!--<set var="Settings.PageSize">{7}</set>-->
  <!--<set var="Settings.SyncCycleSize">{20}</set>-->
  <!--Set current CRM user Id-->
  <select from="crmdst" entity="contact" var="dstCurrentUser">
    <query><![CDATA[
			<fetch version="1.0" output-format="xml-platform"
		   mapping="logical" distinct="false">
			   <entity name="systemuser">
				  <attribute name="systemuserid" />
				  <order attribute="fullname" descending="false" />
				  <filter type="and">
					 <condition attribute="systemuserid"
								operator="eq-userid" />
				  </filter>
			   </entity>
			</fetch>
			]]></query>
  </select>
  <set var="Settings.CurrentUserId">{dstCurrentUser[0].systemuserid}</set>
  <set var="Settings.PageSize">{500}</set>
  <set var="Settings.ProjectName">HLWDemoData</set>
  <set var="Settings.SyncCycleSize">{5000}</set>
</script>